
@{
    ViewData["Title"] = "About";
}

<div style="text-align: center;">
    <div style="text-align: center; padding-top: 12%; padding-bottom:2% ; position: static;">
        <h1>Kalakaar Art Studio</h1>
        <p>We know designing. We deal all kind of designing fields.</p>
    </div>
</div>
<h1 style="text-align: center;background-color: aliceblue; padding: 2%;"><b><i>Who We Are!</i></b></h1>
<!-- Testimonial -->
<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="aa-testimonial-img" style="border-radius: 0%; width: 80%; height: 80%;" src="img/about/ceo.jpg" alt="testimonial img">
                        </div>
                        <div class="col-sm-6" style="text-align: center;">
                            <h1><strong>Sami Raaj Chuhan</strong></h1>
                            <div class="aa-testimonial-info">
                                <strong>
                                    <span>CEO & Founder</span><br>
                                    <a href="#">Kalakaar Art Studio & Design House</a>
                                </strong>
                            </div>
                            <p>Sami Raaj Chouhan, Fashion Designer is Director of Needle Crafts Pakistan. In the begining it was just an embroidered fabric manufacturing company. Then the Needle Crafts Pakistan expended his services in the field of Creative Designing of Digital Textile and Embroidery Arts alongwith ready to wear garments manufacturing ۔ Needle Crafts sets th standards of quality, and customer care, professional coaching and consulting services. After successful appearance in Embroidered Fabrics and Boutique Production. In 2008 Needle Crafts Pakistan launchs its inhouse internship based professional training wing, He himself joined Pakistan institute of Fashion Design (PIFD) to refresh and update latest terms and techniques in Textile Design & Fashion Arts. School of Embroidery Design by Strawberry Stitch Company, USA was his Major Trainer in Wilcom Embroidery Designing Techniques.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Testimonial -->


<section id="aa-testimonial" style="background-color: aliceblue;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <div class="row">


                        <div class="col-sm-6" style="text-align: center;">
                            <h1><strong>Usman Abdullah</strong></h1>
                            <div class="aa-testimonial-info">
                                <strong>
                                    <span>Software Engineer</span><br>
                                    <a href="#">Kalakaar Art Studio & Design House</a>
                                </strong>
                            </div>
                            <p>Usman Abdullah is a Software Engineer currently doing his bachelors from PUCIT, University of the Punjab, Lahore, Pakistan. He is socially active person. He is the secretary of Rotaract Club of Lahore sponsored by Rotary Club of Lahore.</p>
                        </div>
                        <div class="col-sm-5">
                            <img class="aa-testimonial-img" style="border-radius: 0%; width: 80%; height: 80%;" src="img/about/me.jpg" alt="testimonial img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="aa-testimonial-img" style="border-radius: 0%; width: 80%; height: 80%;" src="img/about/ceo.jpg" alt="testimonial img">
                        </div>
                        <div class="col-sm-6" style="text-align: center;">
                            <h1><strong>Sami Raaj Chuhan</strong></h1>
                            <div class="aa-testimonial-info">
                                <strong>
                                    <span>CEO & Founder</span><br>
                                    <a href="#">Kalakaar Art Studio & Design House</a>
                                </strong>
                            </div>
                            <p>Sami Raaj Chouhan, Fashion Designer is Director of Needle Crafts Pakistan. In the begining it was just an embroidered fabric manufacturing company. Then the Needle Crafts Pakistan expended his services in the field of Creative Designing of Digital Textile and Embroidery Arts alongwith ready to wear garments manufacturing ۔ Needle Crafts sets th standards of quality, and customer care, professional coaching and consulting services. After successful appearance in Embroidered Fabrics and Boutique Production. In 2008 Needle Crafts Pakistan launchs its inhouse internship based professional training wing, He himself joined Pakistan institute of Fashion Design (PIFD) to refresh and update latest terms and techniques in Textile Design & Fashion Arts. School of Embroidery Design by Strawberry Stitch Company, USA was his Major Trainer in Wilcom Embroidery Designing Techniques.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
