
@{
    ViewData["Title"] = "Partner";
}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="img/partnerF.jpeg" alt="fashion img" style="width: 100%;">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h1>Become Our Partner</h1>
                <!-- <ol class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Account</li>
                </ol> -->
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeI9LOsNYG3lMVb6Z37StqskLlbI1fxsd-L1VeaCIPiDCWj9Q/viewform?embedded=true" width="100%" height="1050" frameborder="0" marginheight="" marginwidth="0">Loading…</iframe>


